:root{
    --color-primary: #6C9BCF;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132,139,200,0.18);
    --color-dark-varient: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1:1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-mode-variables{
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-varient: #a3bdcc;
    --color-light: rgba(0,0,0,0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.productcontainer{
    width: 100%;
    margin-top: 1.6rem;
    
}
.signin-signup{
    margin-top: 1.6rem;
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    padding-bottom: 10px;
}
.signin-signup:hover{
    box-shadow: none;
}

form {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    width: 60%;
    min-width: 238px;
    padding: 0 10px;
}
/* form.sign-in-form {
    opacity: 1;
    transition: 0.5s ease-in-out;
    transition-delay: 1s;
} */

.title {
    /* font-size: 35px; */
    color: #444;
    margin: 10px 0;
}
.input-field {
    width: 100%;
    height: 50px;
    background: #f0f0f0;
    margin: 10px 0;
    border: 2px solid #444;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

textarea{
    columns: 100%;
    background-color: #f0f0f0;
    border: 2px solid #444;
    border-radius: 50px;
    padding: 20px 10px 0 20px;
    font-size: 18px;
    font-weight: 600;
    color: #444;
    margin: 0 10px;
}

.input-field input {
    flex: 5;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: #444;
    padding: 0 20px;
}
.btn {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background: #444;
    color: #fff;
    font-weight: 600;
    margin: 10px 0;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0 10px;
}
.btn:hover {
    background: #ddd;
    color: #444;
    transition: .4s;
}


/*Responsive*/
@media (max-width:779px) {
    .container {
        width: 100vw;
        height: 100vh;
    }
}
@media (max-width:635px) {
    .container::before {
        display: none;
    }
    form {
        width: 80%;
    }
    form.sign-up-form {
        display: none;
    }
    .container.sign-up-mode2 form.sign-up-form {
        display: flex;
        opacity: 1;
    }
    .container.sign-up-mode2 form.sign-in-form {
        display: none;
    }
    .panels-container {
        display: none;
    }
    .account-text {
        display: initial;
        margin-top: 30px;
    }
}
@media (max-width:320px) {
    form {
        width: 90%;
    }
}